body {
    margin: 0px;
    background-image: url(qatar_background.jpeg);
    background-size: cover;
    color: white;
    overflow-x: hidden;
    overflow-y: visible;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hiddenDiv {
    display: none;
}

.container {
    position: absolute;
}

.center {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: fit-content;
}

.left {
    position: absolute;
    left: 0px;
    width: 50vw;
    margin-top: 2.5em;
    padding-bottom: 2.5em;
}

.right {
    position: absolute;
    right: 0px;
    width: 50vw;
    margin-top: 2.5em;
    padding-bottom: 2.5em;
}

.leftContent {
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: calc(100vh - 10em);
}

.rightContent {
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: calc(100vh - 10em);
}

.centerContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: calc(100vh - 10em);
}

#centerRow_2 {
    display: none !important;
}

#draw:hover {
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

h1 {
    margin: 0px;
}

#questionMark {
    position: absolute;
    z-index: 1;
    right: 1em;
}

#questionMark:hover {
    opacity: 0.8;
    cursor: pointer;
}

#popup {
    position: absolute;
    bottom: 0px;
    right: 1em;
    z-index: 1;
    font-size: 0.85em;
    color: #891638;
    border-radius: 5px;
    padding: 0.5em;
    background-color: white;
    display: none;
}

#popup::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    right: 9%;
    margin-left: -0.5em;
    border-width: 0.5em;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

input {
    width: 8vw;
    background-color: #891638;
    /*background-color: rgba(123, 21, 50, 0.9);*/
    border: 2px solid white;
    border-radius: 2px;
    color: white;
    pointer-events: none;
}

.rightContent input {
    margin-right: 5vw;
}

.leftContent input {
    margin-left: 5vw;
}

.stats {
    display: flex;
    width: 100vw;
    height: 80vh;
    justify-content: center;
    align-items: flex-end;
    color: grey;
}

#triggerStats {
    padding: 0.2em;
    border: 2px solid rgba(123, 21, 50, 0.9);
    border-radius: 5%;
    background-color: white;
    color: rgba(123, 21, 50, 0.9);
    position: absolute;
    z-index: 1;
}

@media screen and (max-width: 950px) {
    input {
        margin-top: 0.5em !important;
    }

    label {
        margin-bottom: 5px !important;
    }

    .left, .right {
        padding-bottom: 0px !important;
    }

    .rightContent, .leftContent {
        height: calc(100vh - 5em);
    }

    .centerContent {
        height: calc(100vh - 2.5em);
        justify-content: space-between;
    }

    #centerRow_0 {
        margin-top: 5em;
    }

    #centerRow_1 {
        margin-top: 1.5em;
    }
}

@media screen and (max-width: 800px) {
    input {
        margin-top: 0.2em !important;
    }

    #centerRow_0 {
        margin-top: 4.5em;
    }
}

@media screen and (max-width: 650px) {
    .hiddenDiv {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }

    .hiddenDiv h1 {
        text-align: center;
        margin-bottom: 1em;
    }
    
    .container {
        display: none;
    }

    .center {
        display: none;
    }
}